@{
    ViewBag.Title = "Home Page";
}
<div>
    <div>
        @Html.ValidationSummary("Please correct the errors and try again.")
    </div>
    <form action="" method="post" enctype="multipart/form-data">
    <ol>
        <li>
            @AntiForgery.GetHtml()
        </li>
        <li>
            <label for="file1">Filename:</label>
            <input type="file" name="files" id="file1" />
        </li>
        <li>
            <label for="file2">Filename:</label>
            <input type="file" name="files" id="file2" />
        </li>
        <li>
            @Html.CheckBox("command", true, new { id = Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId("command_owerwrite") })
            <label for="@ViewData.TemplateInfo.GetFullHtmlFieldId("command_owerwrite")">Overwrite existing files:</label>
        </li>
        <li>
            <button type="submit" name="sumbit" accesskey="S" class="button" title="Submit">
                <div>
                    Submit
                </div>
            </button>
            <a href="/" accesskey="C" class="button" title="Cancel">Cancel </a></li>
    </ol>
    </form>
</div>